body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #999;
}

button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 900;
}